@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");
@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.4rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}
.btn {
  padding: 0.6rem 1.5rem;
  background: $GradientColor;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  a {
    color: $whiteColor;
    font-weight: 500;
  }
  &:hover {
    background: $SecondaryColor;
  }
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: var(--bodyColor);
}
